<br>
<div class="card" style="width:500px">
  <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
    <h3 style="text-align:center;"><strong>Smarter Rooms</strong></h3>
  </div>
  <div class="card-body" style="margin:auto">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Developed by:</p>
          <p><strong>Eduardo Gabriel Vidal</strong></p>
          <p><a href="mailto:eduvidal@ar.ibm.com" style="text-decoration:none; color:#bce5ff;"><i class="far fa-envelope"></i> &nbsp; eduvidal@ar.ibm.com</a></p>
          <p><a href="https://ibm.enterprise.slack.com/user/@WCK5H32TF" style="text-decoration:none; color:#bce5ff;"><i class="fab fa-slack"></i> &nbsp; Slack</a></p>
          <p><a href="https://w3.ibm.com/bluepages/profile.html?uid=097269613" style="text-decoration:none; color:#bce5ff;"><i class="fas fa-users"></i> &nbsp; BluePages</a></p>
          <p><a href="https://www.linkedin.com/in/egvidal" style="text-decoration:none; color:#bce5ff;"><i class="fab fa-linkedin"></i> &nbsp; Linkedin</a></p>
        </div>
        <div class="col text-right">
          <div class="flip-card">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <%= image_tag "egv.jpg", style:"max-width:100%;" %>
              </div>
              <div class="flip-card-back">
                <%= image_tag "easter_egg.jpg", style:"max-width:100%;" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>