<h1>About</h1><br>
<div class="container">
    <h4><strong>Smarter Rooms</strong></h4>
    <p>developed by:</p>
  <div class="row">
    <div class="col">
      <div class="col text-right">
        <%= image_tag "egv.jpg", style:"max-width:30%;" %>
      </div>
    </div>
    <div class="col"><br>
      <p class="text">Eduardo Gabriel Vidal</p>
      <p class="text">eduvidal@ar.ibm.com</p>
      <p class="text">IT Specialist - Security Compliance Focal</p>
      <p class="text">Intel Server Support for Manulife Financial</p>
    </div>
  </div>
</div><br><br><br><br><br>

<p><%= link_to "Home", root_path, :class => "btn btn-sm btn-primary" %></p>