<br>
<div class="container" style="width:1000px">
  <div class="row" style="align-items:center">
    <div class="col"> 
      <div class="card" style="width:400px">
        <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
          <h3 style="text-align:center">Log in</h3>
        </div>
        <div class="card-body" style="margin:auto">
          <div class="container">
            <%= render "sessions/form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>