<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7; width:950px; text-align:center"><b>Registered users</b></h5>
<div class="container" style="width:950px;">
  <div class="row">
    <% @users.each do |user| %>
      <a href="users/<%= user.id %>" style="text-decoration:none; color:#bce5ff; margin:0 auto;">
        <div class="card" style="width:300px; margin-bottom:10px">
          <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
            <h4 style="text-align:center"><strong><%= user.name %></strong></h4>
          </div>
          <div class="card-body" style="margin-left:15px">
            <div>Email: <strong><%= user.email %></strong></div>
            <div>Role: 
            <% if user.admin %>
              <strong><font color="#728C00"> Admin</font></strong>
            <% else %>
              <strong><font color="#2B547E">User</font></strong>
            <% end %></div>
          </div>
        </div>
      </a>
    <% end %>
  </div><br><br>
  <% if current_user.is_admin? %>
    <%= link_to 'New User', new_user_path, :class => "btn btn-sm btn-success" %>
  <% end %>
</div>
