<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Percentage of time reserved per room per day [Last week]</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= line_chart @chart1, ytitle: "Reservation", suffix: "%", max: 100 %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Percentage of rooms reserved per hour [Last month]</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= area_chart @chart2, label: "Rooms reserved", ytitle: "Reservations", suffix: "%", max: 100 %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Users with more reservations [Last month]</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= column_chart @chart3, label: "Reservations", ytitle: "Reservations" %>
  </div>
</div><br>
<div class="card">
  <div class="card-header">
    <h3 style="text-align:center">Rooms with more reservations [Last month]</h3>
  </div>
  <div class="card-body" style="background-color: #C2DFFF; opacity:0.8">
    <%= bar_chart @chart4, label: "Reservations", xtitle: "Reservations" %>
  </div>
</div>