/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";
 
 body {
   background-image: url("conference_room");
   background-color: #40698f;
   background-attachment: fixed;
   background-size: cover;
 }
 
 .table {
   margin: auto;
 }
 
 .vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }
 
.container {
  border-radius: 3px;
}

/* Add rounded corners to the top left and the top right corner of the image */
 img {
   border-radius: 5px;
 }
 
 .card {
   /* Add shadows to create the "card" effect */
   margin: 0 auto;
   background-color:rgba(0, 121, 203, 0.7);
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
   transition: 0.3s;
   border-radius: 5px; /* 5px rounded corners */
 }
 
 /* On mouse-over, add a deeper shadow */
 .card:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 input[type="number"] {
  width:40px;
  height:23px;
  border-radius: 5px; /* 5px rounded corners */
 }

 input[type="text"] {
  height:23px;
  border-radius: 5px; /* 5px rounded corners */
 }

 input[type="email"] {
  height:23px;
  border-radius: 5px; /* 5px rounded corners */
 }

 input[type="password"] {
  height:23px;
  border-radius: 5px; /* 5px rounded corners */
 }

 .checkbox-margin {
  text-align:left;
 }

 .checkbox-margin input{
  margin: 0px 0px 0px 0px;
 }

 .checkbox-margin label{
   margin: 0px 20px 0px 3px;
 }
 
 .center {
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
 
 .vertical-center {
   position: relative;
   top: 50%;
 }
 
 .pagination {
   float: right;
   padding: 0 10px;
   font-size: 17px;
 }