<h5 class="container" style="background-color: #bce5ff; color:#42698f; opacity:0.7; width:1080px; text-align:center"><b>Accessories</b></h5>
<div class="container" style="width:1080px;">
  <div class="row">
    <% @accessories.each do |accessory| %>
      <a href="accessories/<%= accessory.id %>" style="text-decoration:none; color:#bce5ff; margin:0 auto;">
        <div class="card" style="width:350px; margin-bottom:8px">
          <div class="card-header" style="background-color:rgba(0, 121, 203, 0.5);">
            <h3 style="text-align:center"><strong><%= accessory.name %></strong></h3>
          </div>
        </div>
      </a>
    <% end %>
  </div><br><br>
  <div class="row">
    <div class="col">
      <% if current_user.is_admin? %>
        <div class="row">
          <%= link_to 'New Accessory', new_accessory_path, :class => "btn btn-sm btn-success" %> &nbsp;
        </div>
      <% end %>
    </div>
  </div>
</div>
